{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>FARA VDMS</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/tender.css' %}" rel="stylesheet" />
    {% comment %} <link href="{% static 'css/style2.css' %}" rel="stylesheet" /> {% endcomment %}
    <link href="{% static 'css/admin.css' %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous">
    </script>
</head>

<body class="sb-nav-fixed">
    {% include './navbar.html'%}
    <div id="layoutSidenav">
        {% include './sidenav.html'%}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Compose & Send Tender to Category</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Compose Tender</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            Compose and send all your bulk or single Tenders here.
                        </div>
                    </div>
                   
                    <section class="content container-fluid">

                        <div class="row">
                            {% include './tenderside.html'%}<!-- /.col -->

                            <div class="col-md-10">
                                <div class="box box-success">
                                    <div class="box-header with-border">

                                    </div>
                                    <!-- /.box-header -->
                                 
                                <form class="form-inline" role="form" method="POST" enctype='multipart/form-data'>
                                        {% csrf_token %}
                                      
                                   <div class="box-body">
                                    <div class="input-group">
                                        <select
                                          class="form-select"
                                          aria-label="Category Select"
                                          name="category"
                                          id="category"
                                          required
                                        >
                                        
                                        <option value="none" selected disabled hidden>--Select Category--</option>
                                       
                                        </select>
                                      </div>

                                      {% comment %}  {% endcomment %}

                                    <div class="input-group">
                                        {% comment %} <input type="email" name="receipient" class="form-control" placeholder="To:" required="" id="id_receipient"> {% endcomment %}
                                        
                                        <select
                                            class="form-select js-example-basic-multiple"
                                            aria-label="Category Select"
                                            name="bcc"
                                            id="bcc"
                                            multiple="multiple"
                                            required
                                        >
                                            <option value="none" selected disabled hidden id="defaultText">-- Select Blind Copy --</option>
                         
                                        </select>
                                    </div>
                                    <div class="form-group">
                                   
                                        {{form.subject}}
                                    </div>
                                   
                                    <div class="form-group">
                                    {{form.media}}
                                    {{form.message}}
                                    </div>
                                        <i class="fa fa-paperclip addmargin"></i> Attachment {{form.attachment}}

                                    <p class="help-block">Max. 4MB</p>
                                </div>
                                
                                        <!-- /.box-body -->
                                        <div class="box-footer">
                                            {{form.errors}}
                                            {% for message in messages%}
                                            <h3>{{message}}</h3>
                                            {% endfor %}
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-default" name="draft"><i
                                                        class="fas fa-pencil-alt"></i> Draft</button>
                                                <button type="submit" class="btn btn-success" name="send"><i
                                                        class="far fa-envelope"></i> Send</button>
                                            </div>

                                        </div>
                                    </form>
                                    <!-- /.box-footer -->
                                </div>
                                <!-- /. box -->
                            </div>
                        </div>

                    </section>
                    
                    {% comment %} {% endcomment %}
                </div>
            </main>
            {% include './navbar.html'%}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
    <script src="https://use.fontawesome.com/181be157a6.js"></script>
<!-- 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/demo/chart-area-demo.js'%}"></script>
    <script src="{% static 'assets/demo/chart-bar-demo.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js'%}"></script> -->

    <!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<!-- <script src="bower_components/jquery/dist/jquery.min.js"></script> -->
<!-- Bootstrap 3.3.7 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% comment %} <script src="{% static 'js/myScripts.js' %}"></script> {% endcomment %}

<script>
    $(document).ready(function () {
        $(".js-example-basic-multiple").select2();
      });

      //--------------populating values for CATEGORY1 via JSOn--------------
      // CATEGORY 1 SUBCATEGORY 1
const catdata = document.getElementById("category");
const subcatdata = document.getElementById("bcc");
const defaultText = document.getElementById("defaultText");
$.ajax({
    type: "GET",
    url: "/cat_json",
    success: function (response) {
      console.log(response.data);
      console.log({{providers.country}});
      const catData = response.data;
      catData.map((item) => {
        const option = document.createElement("option");
        option.textContent = item.category_name;
        option.setAttribute("class", "item");
        option.setAttribute("data-value", item.id);
        catdata.appendChild(option);
      });
    },
    error: function (error) {
      console.log(error);
    },
  });


  {% comment %} Onclick category insert data into subcat {% endcomment %}
  
catdata.addEventListener("change", (e) => {
    console.log(e.target.value);
    const selectedCat = e.target.value;
    subcatdata.innerHTML = "";
    defaultText.textContent = "--Select Sub Category--";
  
    $.ajax({
      type: "GET",
      url: `provider_email_json/${selectedCat}`,
      success: function (response) {
        console.log(response.data);
        const subcatData = response.data;
        subcatData.map((item) => {
          const option = document.createElement("option");
          option.textContent = item.company_name;
          option.setAttribute("class", "item");
          option.setAttribute("value", item.email_address);
          subcatdata.appendChild(option);
        });
      },
      error: function (error) {
        console.log(error);
      },
    });
  });

    {% comment %} Onclick category insert data into subcat {% endcomment %}
  
  
</script>
</body>

</html>
